$w: #FFFF;

#header {
  height: 40rem;
  white-space: pre-line;
  p {
    font-family: soleil, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .title {
    line-height: 1.2;
    font-family: soleil, sans-serif;
    font-weight: 700;
  }
  .subttitle {
    line-height: 1.9;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .content {
    display: flex;
    height: 100%;
    color: $w;
    background: rgb(1,10,44);
    background: linear-gradient(354deg, rgba(1,10,44,1) 0%, rgba(1,10,44,1) 35%, rgba(7,34,117,1) 100%);
  }
  .header-info {
    padding: 0 6rem;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    .list-inline {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .fa {
      border: 1px solid white;
      padding: 1rem;
      border-radius: 100%;
      width: 3rem;
      text-align: center;
      &:hover {
        //border: 1px solid #4268FF;
        color: #4268FF;
      }
    }
  }
  .video {
    padding: 0;
  }
  .btn {
    color: $w;
    height: 4rem;
    width: 16rem;
    border-radius: 45px;
    background: rgb(109,65,250);
    background: linear-gradient(117deg, rgba(109,65,250,1) 0%, rgba(70,98,244,1) 60%, rgba(18,140,236,1) 100%);
  }
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
  #header  {
    .title {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 790px) {
  #header  {
    text-align: center;
    .title {
      margin: 2rem auto;
    }
    .subtitle {
      line-height: 1.8;
      font-size: 1rem;
    }
    button {
      margin: 1rem auto;
    }
    .media-container {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 800px) {
  #header  {
    iframe {
      min-height: 25rem !important;
    }
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  #header  {
    .content {
      flex-flow: column;
      display: block;
    }
    iframe {
      min-height: 25rem !important;
    }
  }
}

@media only screen and (max-device-width: 414px) {
  #header {
    .header-info {
      text-align: center;
      .btn-md {
        height: 2rem;
        width: 9rem;
        font-size: 10px;
        margin: 0 auto;
      }
      p {
        font-size: .5rem;
      }
    }
    .title {
      font-size: 1rem;
    }
    .subtitle {
      font-size: .5rem;
    }
    .fa {
      padding: .5rem;
      width: 2rem;
      font-size: 11px;  
    }
  }
}